# Frontend (Client)
# In production, this should be the public WSS URL of your signaling server
NEXT_PUBLIC_SIGNALING_URL=ws://localhost:3002

# Signaling Server (Backend)
SIGNALING_PORT=3002
NODE_ENV=production
